:root {
  --font-sans: Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    sans-serif;
  --font-serif: Georgia, "Times New Roman", Times, "SimSun", "宋体", serif;
}

.calendar-container {
  border: 2px solid black;
  display: block;
  width: 390px;
  height: 575px;
  font-size: 14px;
  margin: 20px auto;
  position: relative;
  font-family: var(--font-serif);
}

.cal-header {
  height: 38px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
}

.cal-month-week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

.cal-month-zh,
.cal-month-en,
.cal-week {
  flex: 1;
}

.cal-month-zh {
  padding-right: 20px;
  writing-mode: vertical-rl;
}

.cal-month-en {
  font-size: 30px;
  text-align: center;
}

.cal-week {
  padding-left: 20px;
  writing-mode: vertical-lr;
}

.cal-day {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  font-family: var(--font-sans);
  font-weight: bold;
}

.cal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 30px;
  margin-bottom: 30px;
}

.cal-footer {
  border-top: 1px solid black;
  padding: 20px 30px;
  height: 170px;
}

.cal-quote {
  margin-bottom: 30px;
  font-size: 20px;
}

.cal-from {
  font-size: 10px;
  float: left;
}

.cal-logo {
  float: right;
  font-size: 12px;
}

@media (max-width: 480px) {
  .calendar-container {
    width: 100%;
  }
}
